torch==2.8.0
torchvision==0.23.0
xformers==0.0.32.post2
pytorch-lightning==2.4.0
spconv-cu126==2.3.7
numpy==1.26.4
plyfile>=1.0,<1.1.5
triton==3.4.0
dataclasses_json
easydict
opencv-python==4.9.0.80
opencv-python-headless==4.9.0.80
imageio
imageio-ffmpeg
rembg==2.0.61
trimesh
moviepy==1.0.3
pymeshfix==0.17.0
igraph==0.11.8
pyvista==0.36.1
openai==1.58.1
transformers==4.42.4
gradio==5.48.0
spaces
tqdm<4.70
sentencepiece==0.2.0
diffusers==0.34.0
xatlas
onnxruntime==1.20.1
tenacity
accelerate==0.33.0
basicsr==1.4.2
realesrgan==0.3.0
pydantic>=2.10,<2.12
vtk==9.3.1
colorlog
json-repair
scikit-learn
omegaconf
tyro
pyquaternion
shapely
sapien==3.0.0b1
coacd
mani_skill==3.0.0b21
typing_extensions==4.14.1
ninja
packaging
lightning
astor
optree
loguru
seaborn
hydra-core
modelscope
timm
open3d
